<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Codilar_Pincode::pincode"
             title="Pincode"
             module="Codilar_Pincode"
             sortOrder="85"
             resource="Codilar_Pincode::pincode"/>
             
             <add id="Codilar_Pincode::pincode_manage"
             title="Manage Pincode"
             module="Codilar_Pincode"
             parent="Codilar_Pincode::pincode"
             action="pincode/pin/index"
             sortOrder="10"
             resource="Codilar_Pincode::pincode_manage"/>
    </menu>
</config>