<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\DataProvider\Modifier\ModifierFactory">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="custom_pincode_modifier" xsi:type="object">Codilar\CustomModule\Ui\DataProvider\Product\Form\Modifier\PincodeModifier</item>
            </argument>
        </arguments>
    </type>
</config>






